
header , footer{
    height: 10vh;
    width: 100%;
}



main{
    height: 80vh;
    
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal 12pt Courier;
    font-style: bold;
    color: white;
    background-color: #202020;
}